<h2>入力した文字列を表示</h2>
<div id="app">
  <ul>
    <li v-for="(item,index) in myArray">{{ index }}:{{ item }}</li>
  </ul>
</div>

<script>
  new Vue({
    el:'#app',
    data: {
      myArray: ['ジャムパン','メロンパン','クロワッサン']
    }
  })
</script>
