<div id="app">
  <label><input type="checkbox" v-model="isOK">切り替える</label>
	<transition>
	  <p v-if="isOK">表示、非表示のアニメ</p>
	</transition>
</div>

<script>
  new Vue({
		el: '#app',
		data: {
			isOK: false
		}
	});
</script>