
		<div  id="app">
			<input v-model.number="price" type="number">円 ×
      <input v-model.number="count" type="number">個
      <P>     合計 {{ sum }}円</p>
      <p>税込み合計 {{ taxIncluded }}円</p>
		</div>

		<script>
			new Vue({
				el: '#app',
				data: {
					price: 100,
          count: 1
				},
				computed: {
					sum: function() {
						return this.price * this.count;
					},
          taxIncluded: function() {
            return this.sum * 1.08;
          }
				}
			})
		</script>